<hgroup>
  <h1>ITIS3135 | <em class="con-note" tabindex="0">con</em> von Briesen</h1>
  <p>Front-End Web Development Course Hub</p>
</hgroup>
<nav aria-label="Primary">
  <a href="index.html">Home</a>
  <a href="shared_introductions_instructions.html">Introductions</a>
  <a href="intro-example.html">Intro Samples</a>
  <a href="intro-annotated.html">Annotated Intro</a>
  <a href="personal_journal_instructions.html">Journal</a>
  <a href="work_log_instructions.html">Work Log</a>
  <a href="general_discussion_instructions.html">General Discussion</a>
  <a href="standards.html">Standards</a>
  <a href="commandments.html">Commandments</a>
  <a href="firsthtml.html">First HTML</a>
  <a href="schedule.html">Schedule</a>
  <a href="grading-tool.html">Grading Tool</a>
</nav>
